.fb {
    color: #4267b2 !important;
}


.yelp {
    color: #d32323 !important;
}

.foursquare {
    color: #2d5be3 !important;
}

.menu, .specials, .events, .gallery {
    text-align: center !important;
}

.localBeer {
    color: #ff1a1a;
}